<div class="custom-intro">
    <h1 class="custom-intro-header">
        Hey! I'm Josh 👋
    </h1>
    <h3 class="custom-intro-subheader">
        An optimist 😄 lifelong student 📖 and avid chess player ♟️.
    </h3>
    <div class="custom-desc">
        I believe that in every mistake there is a lesson and 
        in every failure an opportunity. <br><br>
        Seeing my teammates succeed gives me joy and solving complex problems gives me life.

        <br><br>

        Here, I share things I've learned about software engineering/design, AI/ML, and more!
    </div>
</div>
<div class="custom-post-header">
    <h1>
        Latest Posts
    </h1>
</div>