<div class="custom-intro">
    <h1 class="custom-intro-header">
        Hey! I'm Josh 👋
    </h1>
    <h3 class="custom-intro-subheader">
        An unwavering optimist 😄 lifelong student 📖 and shameless coffee addict ☕.
    </h3>
    <div class="custom-desc">
        I believe that <strong>in every mistake there is a lesson</strong> and 
        <strong>in every failure an opportunity for growth</strong>. <br><br>
        Seeing my teammates succeed gives me joy and solving complex problems gives me life.

        <br><br>

        I write about Software Engineering & Design, AI/ML & Math, and anything else that sparks my interest!
    </div>
</div>
<div class="custom-post-header">
    <h1>
        Latest Posts
    </h1>
</div>